.ser{
    min-height: 85.5vh;
}

.head{
    text-align: center;
    font-size: 46px;
    
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
    
}

h5{
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    list-style: none;
    text-align: left;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 40px;
}
.parag1{
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    margin: 5px;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: -20px;
    margin-right: 50px;
    margin-left: 90px;
    text-align: left;
    letter-spacing: 2px;
    line-height: 35px;
    padding-bottom: 20px;
    
}
.parag2{
        letter-spacing: 2px;
        line-height: 35px;
        font-size: 20px;
        text-decoration: none;
        list-style: none;
        margin: 5px;
        padding-right: 30px;
        padding-left: 30px;
        margin-top: -20px;
        margin-right: 50px;
        margin-left: 90px;
        text-align: left;
        padding-bottom: 20px;
    }


.parag1,.parag2{
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.webbi{
    width: 50px;
    height: 50px;
}

.ser2{
    width: 50px;
    height: 50px;
    margin-top: 40px;
    padding: 5px;
    background-color: rgba(24, 24, 24, 0.87);
    border-radius: 25px;
    margin-right: 30px;
}

.qs{
    display: flex;
    justify-content: center;
}

.webbi, .frnt{
    margin-top: 30px;;
}

.frnt{
    animation: rot 2s linear infinite ; 
}

@keyframes rot {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }


.parag2:hover{

    transform: translate(-15px,-15px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.parag1:hover{

    transform: translate(-15px,-15px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}